* {
	margin: 0;
	padding: 0;
}


body {
	font-size: 4rem;
	color: #FFF;
}

section {
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(to right, rgb(86,20,176,0.9), rgb(219,214,92,0.5)), url(img.jpg) ; 
 	background-size: cover;
 	background-position: 50% 50%;
}

form {
	margin: auto;
  	width: 70%;
  	padding-top: 100px;
}

.olevels {
	display: flex;
}

.subjects, .grades {
	display: flex;
	flex-direction: column; 
	margin: 30px;
}

header, .new {
	margin-bottom: 20px;
}

input, select {
	padding: 5px 8px;
}

input[type=number] {
	outline: none;
	background-color: transparent;
	border: none;
	border-bottom: 3px solid #FFF;
	font-size: 1rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.subjects input, .grades select {
	margin-bottom: 10px; 
	border-radius: 3px;
	color: black;
}