* {
	margin: 0;
	padding: 0;
}


body {
	font-size: 3rem;
	color: #f7f7f7;
}

form {
	top: 0;
	transform: translate(30%);
}
.olevels {
	display: flex;
}

.subjects, .grades {
	display: flex;
	flex-direction: column; 
	margin: 20px;
}