* {
	margin: 0;
	padding: 0;
}


body {
	font-size: 4rem;
	color: #FFF;
}

section {
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(to right, rgb(86,20,176,0.9), rgb(219,214,92,0.5)), url(img1.jpg) ; 
 	background-size: cover;
 	background-position: 50% 50%;
}

form {
	margin: auto;
  	width: 70%;
  	padding-top: 100px;
}

.olevels {
	display: flex;
}

.subjects, .grades {
	display: flex;
	flex-direction: column; 
	margin: 30px;
}

header, .new {
	margin-bottom: 20px;
}

input, select {
	padding: 5px 8px;
}

input[type=number] {
	outline: none;
	background-color: transparent;
	border: none;
	border-bottom: 3px solid #FFF;
	width: 120px;
	padding-bottom: 0;
	font-size: 4rem;
}

input[type=number]:focus {
 border-bottom: 5px solid #add8e6;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.subjects input, .grades select {
	margin-bottom: 10px; 
	border-radius: 3px;
	color: black;
	font-size: 2.1rem;
}

@media only screen and (max-width: 900px) {
		header, .new {
		margin-bottom: 50px;
	}
}

button {
   background: linear-gradient(to right, rgb(86,20,176,0.9), rgb(219,214,92,0.5)); 
  border: none;
  color: white;
  text-decoration: none;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 4px 2px;
  box-shadow: 3px 5px 3px #888888;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
	transform: scale(1.1);
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
}

.credit {
	text-decoration: none;
	font-size: 2rem;
	color: white;
	font-weight: 300;
}


@media only screen and (min-width: 1000px) {
		footer {
		position: relative;
		color: black;
	}
	.credit {
		color: black;
	}
}  